<div class="form_row">
  <div class="form-item">
    <label for="title">Title</label>
    <input
      required
      class="text-input"
      type="text"
      name="title"
      value="<%= prompt.title%>"
    />

    <div class="form-item">
      <label>Description</label>
      <textarea
        value="<%= prompt.description%>"
        required
        name="description"
        id=""
        cols="30"
        rows="10"
      >
      </textarea>
    </div>
  </div>
</div>
